
#logo{
    color: #49688D;
    font-family: cursive;
    font-size: 65px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    margin: 10px auto;
    padding: 10px 50px;
    display: inline-block; /* Ensure block-level display with centered margin */
    text-align: center;
    height: 100px;
}

.logo h1{
    margin: 0;
}

.move{
    font-family: cursive;
    top:150px;
    right:250px;
    display: flex;
    color:black;
    position: absolute;
    font-size: 25px;
}

.buttons a{
     position: absolute;
    width:150px;
    height: 30px;
    background-color: #A6BDD9;
    color: black;
    font-family: Calibri;
    font-size: 18px;
    border-radius: 20px;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-color: #49688D;
    font-weight: bold;
}

#b1{
    top:250px;
    right:180px;
}

#b2{
    top:350px;
    right:180px;
}

#b3{
    top:250px;
    right: 450px;
}

#b4{
    top:350px;
    right:450px;
}

.image-container {
    width: 350px;
    height: 350px;
    background-size: cover;
    background-position: center;
    animation: changeImage 15s infinite;
    position: absolute;
    top: 150px;
    right: 750px;
    border-radius: 20px;
    border-color: #49688D;
    border-style: solid;
}

@keyframes changeImage {
    0% {
        background-image: url('../media/homePage.jpg');
    }
    33%{
        background-image: url('../media/homePage2.jpg');
    }
    66%{
        background-image: url('../media/homePage3.jpg');
    }
    100% {
        background-image: url('../media/homePage.jpg');
    }
}

.logOut a{
    position: absolute;
    background-color: white;
    color: black;
    font-family: Calibri;
    font-size: 18px;
    border-radius: 20px;
    top:450px;
    right:370px;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-color: #49688D;
    font-weight: bold;
}
