{% extends "base.html" %}

{% set page_head_title = 'MyAccount' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('myAccount.static', filename='css/myAccount.css') }}"/>
{% endblock %}


{% block page_body_header %}
    <h1 class="title">החשבון שלי</h1>
 {% endblock %}

{% block page_body_main %}
    <div class="leftClass">
        <h2>נותר לך עוד</h2>
        <h1 id="numOfClass">{{user.leftClasses}}</h1>
        <h2>שיעורים</h2>
    </div>
    <div id="bottom1">
     <a href="/newOrder">הזמן עוד שיעורים</a>
    </div>


{% endblock %}