body{

    background-color: #DCEBFE;
}

.content{
    display: flex;
    flex-direction: column;
}

.logo{
    display: flex;
    justify-content: flex-start;
    z-index: 2;
    top: 30px;
    color:#49688D;
    font-family: cursive;
    font-size: 30px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    padding:10px;
}

.logo h1{
    margin: 0;
}
