body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    background-color: #DCEBFE;
    height: 25vh; /* Full height of viewport */
    background-size: cover; /* Cover the entire viewport */
    background-position: top; /* Center the image */
    background-repeat: no-repeat;
    }


.logo{
    position: absolute;
    z-index: 2;
    top: 30px;
    left:60px;
    color:#49688D;
    font-family: cursive;
    font-size: 30px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    margin: 10px auto;
    padding: 10px;
    display: inline-block; /* Ensure block-level display with centered margin */
    text-align: center;
    height: 100px;
}

.logo h1{
    margin: 0;
}

.title{
    position: absolute;
    padding-top: 50px;
}

.title h1{
    font-family: Calibri;
    font-size: 50px;
}

.leftClass {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-top: 250px;
}

.leftClass h1, .leftClass h2 {
    margin: 0 10px;
    font-family: Calibri;
    font-size: 40px;
}


.bottom1 a{
    position: absolute;
    width:150px;
    height: 30px;
    background-color: #A6BDD9;
    color: black;
    font-family: Calibri;
    font-size: 20px;
    border-radius: 20px;
    top:350px;
    right:525px;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-color: #49688D;
    font-weight: bold;
}

