body{
    background-color:lightskyblue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    height: 25vh; /* Full height of viewport */
    background-image: url("Pics/background1.jpg");
    background-size: cover; /* Cover the entire viewport */
    background-position: top; /* Center the image */
    background-repeat: no-repeat;
    }

.logo{
    color:#49688D;
    font-family: cursive;
    font-size: 30px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    margin: 10px auto;
    padding: 10px;
    display: inline-block; /* Ensure block-level display with centered margin */
    text-align: center;
    height: 100px;
}

.logo h1{
    margin: 0;
}

.welcome{
    display: flex;
    color:#49688D;
    position: absolute;
    top: 150px;
    font-family: Calibri;
    align-items: center;
    justify-content: center;
}

.signIn-form{
    position: absolute;
    padding: 220px;
}

.signIn-form input[type="text"]{
    padding: 10px 20px 10px 20px;
    margin: 10px 20px 10px 20px;
    background: none;
    border-color: #49688D;
    text-align: right;
}

.signIn-form input[type="password"]{
    padding: 10px 20px 10px 20px;
    margin: 10px 20px 10px 20px;
    background: none;
    border-color: #49688D;
    text-align: right;

}
.signIn-form.form-group{
    top: 10px;
    bottom: 20px;
}

.signIn-form input[type='submit']{
    background-color: white;
    color: #49688D;
    font-family: Calibri;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    padding: 10px 50px 10px 50px;
    margin: 30px 20px 10px 50px;
}

.my-div {
    position: absolute;
    top: 400px;
    font-family: Calibri;
    color: #49688D;
    font-size: 8px;
    padding-top: 10px;
}

.my-div2{
    top: 450px;
    position: absolute;
    background-color: white;
    font-family: Calibri;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    padding:10px 50px 10px 50px;
    /*margin: 30px 20px 10px 50px;*/
}

.my-div2 a{
    background-color: white;
    color: #49688D;
    font-family: Calibri;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.my-div3{
    position: absolute;
    top: 480px;
    font-family: Calibri;
    color: #49688D;
    font-size: 8px;
    padding-top: 10px;
}