{% extends "base.html" %}

{% set page_head_title = 'NewOrder' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('newOrder.static', filename='css/newOrder.css') }}"/>
{% endblock %}

{% block page_body_main %}
     <form action="" method="GET" class="order-form" id="orderForm">
         <h1>הזמנה חדשה</h1>
         <h2>עלות שיעור : 60 ש"ח</h2>
        <div id="classes">
            <label>כמות שיעורים</label>
           <input type="number"  id="numOfClass" name="number" placeholder="הכנס כמות שיעורים">
        </div>
        <div id="cardNum">
            <label>מספר כרטיס אשראי</label>
             <input type="tel" id="cardNumer" name="CardNumber" placeholder="הכנס מספר כרטיס אשראי">
        </div>
        <div id="expDate">
            <label for="expirationDate">תוקף</label>
            <input type="tel" id="expirationDate" name="expirationDate" placeholder="MM/YY" pattern="\d{2}/\d{2}" >
        </div>
         <div id="cvv">
             <label for="cvv">ספרות בגב הכרטיס</label>
            <input type="text" id="cvv2" name="cvv" placeholder="CVV" >
         </div>
         <div id="cardName">
            <label>שם בעל הכרטיס</label>
           <input type="text" id="cardName2" name="fullName" placeholder="הכנס שם מלא">
        </div>
         <div id="id">
            <label >תעודת זהות של בעל הכרטיס</label>
            <input type="text" id="idNumber" name="idNumber" placeholder="הכנס תעודת זהות">
        </div>
        <input type="submit" name="button" value="הזמן עכשיו" name="">
    </form>
{% endblock %}

{% block page_body_js %}
    <script src="{{url_for('newOrder.static', filename='js/newOrder.js')}}"></script>
{% endblock %}



