<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In PiLove</title>
    <link rel="stylesheet" href="{{ url_for('signIn.static', filename='css/signIn.css') }}"/>

</head>
<body>
    <header  class="logo">
        <h1>PiLove</h1>
    </header>

    <div class="welcome">
    <h2>!ברוכים הבאים</h2>
    </div>

    <form action="/signIn" method="POST" class="signIn-form" id="signInForm">
        <div class="form-group">
<!--            <label>userName</label>-->
           <input type="text" name="userName" id="userName" placeholder="שם משתמש">
        </div>
        <div class="form-group">
<!--            <label>password</label>-->
           <input type="password" name="password" id="password" placeholder="סיסמה">
        </div>
        <input type="submit" class="button" value="התחבר" name="">
    </form>

<div class="forgetPass">
    <h2>?שכחת סיסמה</h2>
</div>

<div class="signUp">
    <a href="../../signUp/templates/signUp.html">הרשמה</a>
</div>

<div class="noAccount">
    <h2>?אין לך חשבון</h2>
</div>
<script src="{{url_for('signIn.static', filename='js/signIn.js')}}"></script>


</body>
</html>