<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up PiLove</title>
  <link rel="stylesheet" href="../static/css/signUp.css">

</head>
<body>
  <header  class="logo">
        <h1>PiLove</h1>
  </header>

     <form action="" method="GET" class="signUp-form" id="signUpForm">
         <h1>הרשמה חדשה</h1>
        <div id="userName">
            <label>שם משתמש</label>
           <input type="text" name="name" id="username2" placeholder="הכנס שם משתמש">
        </div>
        <div id="password">
            <label>סיסמה</label>
           <input type="password" name="password" id="password2" placeholder="הכנס סיסמה">
        </div>
        <div id="phone">
             <label>טלפון</label>
             <input type="tel" name="tel" id="phone2" placeholder="הכנס מספר טלפון">
         </div>
         <div id="fullName">
            <label>שם מלא</label>
           <input type="text" name="fullName" id="fullName2" placeholder="הכנס שם מלא">
        </div>
         <div id="email">
            <label>Email</label>
           <input type="email" name="email" id="email2" placeholder="הכנס Email">
        </div>
        <input type="submit" name="button" value="הירשם" name="">
    </form>

<!--  <ul class="users" style="display: none"></ul>-->

    <div class="back_signIn">
    <a href="../../signIn/templates/signIn.html">חזור למסך ההתחברות</a>
    </div>

<script src="../static/js/signUp.js"></script>

</body>
</html>