{% extends "base.html" %}

{% set page_head_title = 'SignUp' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('signUp.static', filename='css/signUp.css') }}"/>
{% endblock %}

{% block header%}
    <div class="back_signIn">
        <a href="/signIn">חזור למסך ההתחברות</a>
        <h1 id="logo">PiLove</h1>
    </div>
{% endblock %}
{% block page_body_main %}
     <form action="/signUp" method="POST" class="signUp-form" id="signUpForm">
         <h1>הרשמה חדשה</h1>
        <div id="userName">
            <label>שם משתמש</label>
           <input type="text" name="username" id="username2" placeholder="הכנס שם משתמש">
        </div>
        <div id="password">
            <label>סיסמה</label>
           <input type="password" name="password" id="password2" placeholder="הכנס סיסמה">
        </div>
        <div id="phone">
             <label>טלפון</label>
             <input type="tel" name="phone" id="phone2" placeholder="הכנס מספר טלפון">
         </div>
         <div id="fullName">
            <label>שם מלא</label>
           <input type="text" name="fullName" id="fullName2" placeholder="הכנס שם מלא">
        </div>
         <div id="email">
            <label>Email</label>
           <input type="email" name="email" id="email2" placeholder="הכנס Email">
        </div>
        <input type="submit" name="button" value="הירשם" name="">
    </form>
<div class="msg" style="display: none">{{msg}}</div>`
{% endblock %}

{% block page_body_js %}
    <script src="{{url_for('signUp.static', filename='js/signUp.js')}}"></script>
{% endblock %}

<!--  <ul class="users" style="display: none"></ul>-->




</body>
</html>