{% extends "base.html" %}

{% set page_head_title = 'HomePage' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('homePage.static', filename='css/homePage.css') }}"/>
{% endblock %}

{% block header%}
    <h1 id="logo">PiLove</h1>
{% endblock %}

{% block page_body_main %}
 <div class="move">
    <h2>Move to feel good </h2>
 </div>

<div  class="buttons">
    <a href="{{ url_for('bookClass.index') }}" id="b1">+ הרשמה לשיעור</a>
</div>
<div class="buttons" >
    <a href="{{ url_for('myClasses.index') }}" id="b2">השיעורים שלי</a>
</div>
<div class="buttons" >
    <a href="{{ url_for('aboutAs.index') }}"  id="b3">קצת עלינו</a>
</div>
<div class="buttons" >
    <a href="{{ url_for('myAccount.index') }}"  id="b4">החשבון שלי</a>
</div>
    <div class="image-container"></div>
<div class="logOut">
    <a href="/signIn">התנתק</a>
</div>
{% endblock %}
