<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page PiLove</title>
    <link rel="stylesheet" href="{{ url_for('homePage.static', filename='css/homePage.css') }}">

</head>
<body>
    <header  class="logo">
        <h1>PiLove</h1>
  </header>


 <div class="move">
    <h2>Move to feel good </h2>
 </div>

<div  class="buttons">
    <a href="{{ url_for('bookClass.index') }}" id="b1">+ הרשמה לשיעור</a>
</div>
<div class="buttons" >
    <a href="{{ url_for('myClasses.index') }}" id="b2">השיעורים שלי</a>
</div>
<div class="buttons" >
    <a href="{{ url_for('aboutAs.index') }}"  id="b3">קצת עלינו</a>
</div>
<div class="buttons" >
    <a href="{{ url_for('myAccount.index') }}"  id="b4">החשבון שלי</a>
</div>
    <div class="image-container"></div>
<div class="logOut">
    <a href="../../signIn/templates/signIn.html">התנתק</a>
</div>
</body>
</html>