

.order-form{
    position: absolute;
    z-index: 1;
    margin-top: 50px;
    margin-right: 0px;
    background-color: #ECF4FF;
    padding: 40px 400px 30px 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.order-form label{
    display: block;
    font-family: Calibri;
    font-size: 15px;
    text-align: right;
    color: black;
    padding-top: 10px;
}

.order-form h1{
    font-family: Calibri;
    font-size: 40px;
    margin-bottom: 0px;
}

.order-form h2{
    font-family: Calibri;
    font-size: 20px;
    margin-top: 0px;
}

#classes{
    position: absolute;
    top: 150px;
    right:150px;
}
#cardNum{
    position: absolute;
    top: 220px;
    right:150px;
}
#expDate{
    position: absolute;
    top: 290px;
    right:150px;
}
#cvv{
    position: absolute;
    top: 290px;
    right:280px;
}
#cardName{
    position: absolute;
    top: 150px;
    left:150px;
}
#id{
    position: absolute;
    top: 220px;
    left:150px;
}

.order-form input{
    text-align: right;
    background: none;
    padding: 10px 10px 10px 80px;
}

.order-form input[id="expirationDate"], input[id="cvv2"]{
    padding-left: 0px;
    padding-right: 10px;
    width: 100px;
}


.order-form input[type="submit"]{
    background-color: #A6BDD9;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    margin-top: 250px;
    padding: 10px 50px 10px 50px;
    text-align: center;
}




