{% extends "base.html" %}

{% set page_head_title = 'BookClass' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('bookClass.static', filename='css/bookClass.css') }}"/>
{% endblock %}

{% block page_body_header %}
    <h1 class="title">הירשם עכשיו</h1>
 {% endblock %}

{% block page_body_main %}

     <div class="date">
    <h1 id="dayNum">{{ day }}</h1>
    <h1 id="month">{{ month}}</h1>
    </div>
   <div class="grid-container">
    {% for class in classes %}
        <button class="grid-item">
            {{ class.hour }}
            <br>
            מאמנת : {{ class.coach }}
        </button>
    {% endfor %}
 <div class="buttons">
    <button id="last">היום הקודם</button>
    <button id="next">היום הבא</button>
</div>
</div>
{% endblock %}

