.title{
    position: absolute;
    padding-top: 50px;
    font-family: Calibri;
    font-size: 50px;
}


.leftClass {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-top: 250px;
}

.leftClass h1, .leftClass h2 {
    margin: 0 10px;
    font-family: Calibri;
    font-size: 40px;
    font-weight: normal;
}

#numOfClass{
    background-color: #A6BDD9;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;

}

#bottom1{
    position: absolute;
     top:350px;
    padding: 20px 30px;
    left:58%;
}

#bottom1 a{
    border-radius: 20px;
    border-style: solid;
    border-color: #49688D;
    background-color: #A6BDD9;
    color: black;
    font-family: Calibri;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    width:150px;
    height: 30px;
}



