
.title{
    position: absolute;
    padding-top: 50px;
    font-family: Calibri;
    font-size: 50px;
}


.text{
    padding-top: 200px;
    font-family: Calibri;
    font-size: 30px;
    text-align: right;
    padding-right: 450px;
    padding-left: 200px;
}


#photo {
    position: relative;
}

#photo img {
    position: absolute;
    top: 150px;
    right: 50px;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    border-color: #49688D;
    border-style: solid;
}

