<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Classes PiLove</title>
    <link rel="stylesheet" href="{{ url_for('myClasses.static', filename='css/myClasses.css') }}"/>

</head>
<body>
     <header  class="logo">
        <h1>PiLove</h1>
     </header>
    <div class="title">
        <h1>השיעורים שלי</h1>
    </div>
 <div class="grid-container">
  <div class="grid-item">
    <p class="time">16:00</p>
     <p class="date">יום ב 17/01
        <br>
        שני כהן
    </p>
    <button class="buttons">בטל שיעור</button>
  </div>
  <div class="grid-item">
    <p class="time">20:00</p>
    <p class="date">יום ג 18/01
        <br>
        רעות כהן
    </p>
    <button class="buttons">בטל שיעור</button>
  </div>
     <div class="grid-item">
    <p class="time">20:00</p>
     <p class="date">יום א 23/01
        <br>
        שני כהן
    </p>
    <button class="buttons">בטל שיעור</button>
  </div>
</div>


    <div class="home">
    <a href="../../homePage/templates/homePage.html">חזור למסך הבית</a>
    </div></body>
</html>