{% extends "base.html" %}

{% set page_head_title = 'MyClasses' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('myClasses.static', filename='css/myClasses.css') }}"/>
{% endblock %}

{% block page_body_header %}
    <h1 class="title">השיעורים שלי</h1>
 {% endblock %}
{% block page_body_main %}
{% if classes %}
<div class="grid-container">
  {% for class in classes %}
  <div class="grid-item">
    <p class="time">{{ class.hour }}</p>
    <p class="date">{{ class.date }}
        <br>
        {{ class.coach }}
    </p>
    <button class="buttons">בטל שיעור</button>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}