{% extends "base.html" %}

{% set page_head_title = 'AboutAs' %}

{% block page_head %}
    <link rel="stylesheet" href="{{ url_for('aboutAs.static', filename='css/aboutAs.css') }}"/>
{% endblock %}


{% block page_body_header %}
    <h1 class="title">קצת עלינו</h1>
 {% endblock %}

{% block page_body_main %}
        <div class="text">
                    מכון פילאטיס הוא מקום המתמקד בשיפור הכושר הפיזי והאיזון
            הנפשי. באמצעות תרגולי פילאטיס מגוונים, המקום מספק
            חוויה אישית ומקצועית. באתר האינטרנט של המכון תוכלו
            למצוא מידע על סוגי השיעורים, המאמנים, והיתרונות
            הבריאותיים, יחד עם פרטים אודות מיקום, שעות פעילות
            ואפשרויות יצירת קשר. האתר הוא מרכז מידע ותקשורת יעיל למתאמנים
        </div>
        <div id="photo">
            <img src="{{ url_for('aboutAs.static', filename='media/aboutUs.jpg') }}">
        </div>
{% endblock %}




